
html,
body{
    margin: 0;
    height: 100%;
    width: 100%
}

#map {
    height: 80%;
    width: 100%
}

#runButton {
    height: 60px;
    width: 60px;
    background-color: gray;
    color: black;
}


