<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Israel Time Map</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />

</head>
<body>
<div class="container">
    <div class="nav-buttons-container">
        <div class="nav-container">
            <div class="nav">
                <a class="active" href="index.html"><b style="font-size: 20px;">Israel Time Map</b></a>
                <a href="https://s3.eu-central-1.amazonaws.com/transitanalystisrael/index.html">Home</a>
                <button id="aboutBtn" type="button">About</button>
            </div>
            <div id="about" style="display: none;">
                <p><b>TransitScore Israel</b><br>The relative intensity of the transit service in Israel by location.
                    <br>Scores are normalized to 0-100. Displayed as interactive map.
                    <br>Click on heatmap to get score for location.
                    <br>Useful for comparing transit service level between locations / neighborhoods within a city or town.<br>Service period analyzed: 21 Oct 2018 - 27 Oct 2018.</p>
                <img src="../assets/images/MIU_logo.jpg" alt="MIU logo" height="60px"><img src="../assets/images/YEE_logo.jpg" alt="YEE logo" height="60px">
            </div>
        </div>
        <div class="button-container">
            <input id="datetimepicker" type="text">
            <div id="switchButton" class="toggle toggle-light"></div>
            <div class="mode-container">
                    <input class="modeButton" name="transitMode" id="transit" type="radio" value="transit">Transit</input>
                    <input class="modeButton"  name="transitMode" id="walk" type="radio" value="walking">Walking</input>
                    <input class="modeButton"  name="transitMode"  id="bike" type="radio" value="bike">Bike</input>
            </div>
            <div class="time-slider-with-label-container">
                <div class="time-slider-container">
                    <div id="timeSlider">
                        <div id="custom-handle" class="ui-slider-handle"></div>
                    </div>
                </div>
                <div class="time-slider-label">
                    <label>Minutes</label>
                </div>
            </div>
            <div class="run-button-container">
                <div id="runButton">Run</div>
                <div id="spinner"></div>
            </div>
        </div>
    </div>
    <div class="map-container">
            <div id="map"></div>
    </div>
</div>

</div>
</body>
</html>
