<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Israel Time Map</title>
</head>
<body>
    <div id="runButton">Run</div>
    <input id="datetimepicker" type="text">
    <div id="map"></div>
</body>
</html>
