<!doctype html>
<html lang="en">
<script type="text/javascript" src="https://s3.eu-central-1.amazonaws.com/transitanalystisrael/docs/tool_descriptions_e.js"></script>
<script type="text/javascript" src="https://s3.eu-central-1.amazonaws.com/transitanalystisrael/docs/tool_descriptions_h.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Israel Time Map</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />

</head>
<body>
<div class="container">
    <div class="nav-buttons-container">
        <div class="nav-container">
            <div class="nav">
                <a class="active" href="index.html"><b style="font-size: 20px;">Israel Time Map</b></a>
                <a href="https://s3.eu-central-1.amazonaws.com/transitanalystisrael/index.html">Home</a>
                <button id="aboutBtn" type="button">About</button>
            </div>
            <div id="about" style="display: none;">
                <table id="aboutTable" style="width:100%">
                    <tr>
                        <th id="aboutE" style="width:50%; text-align: left; font-weight: normal;"></th>
                        <th id="aboutH" style="width:50%; text-align: right; font-weight: normal; direction: rtl;"></th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="button-container">
            <input id="datetimepicker" type="text">
            <div id="switchButton" class="toggle toggle-light"></div>
            <div class="mode-container">
                    <input class="modeButton" name="transitMode" id="transit" type="radio" value="transit">Transit</input>
                    <input class="modeButton"  name="transitMode" id="walk" type="radio" value="walking">Walking</input>
                    <input class="modeButton"  name="transitMode"  id="bike" type="radio" value="bike">Bike</input>
            </div>
            <div class="time-slider-with-label-container">
                <div class="time-slider-container">
                    <div id="timeSlider">
                        <div id="custom-handle" class="ui-slider-handle"></div>
                    </div>
                </div>
                <div class="time-slider-label">
                    <label>Minutes</label>
                </div>
            </div>
            <div class="run-button-container">
                <div id="runButton">Run</div>
                <div id="spinner"></div>
            </div>
        </div>
    </div>
    <div class="map-container">
            <div id="map"></div>
    </div>
</div>

</div>
</body>
</html>
